<div class="flash flash-<%= type %>">
  <div class="flash-row">
    <span><%= message %></span>
    <button class="flash-close" type="button" onclick="this.closest('.flash').remove()">×</button>
  </div>
</div>
